mediola:
  - host: 192.168.1.100
    password:
    id: mediola1

mqtt:
  host: homeassistant.local
  port: 1883
  username:
  password:
  discovery_prefix: homeassistant
  topic: mediola
  debug: false

# ---------------------------------------------------
# Global control profiles for ER blinds
# ---------------------------------------------------
controls:
  profiles:
    raffstore:
      doubleup: "Lamellen öffnen"
      doubledown: "Komfortposition"
      stepup: "Lamellen öffnen (Step)"
      stepdown: "Lamellen schließen (Step)"
    rollo: {}   # no extra buttons

# ---------------------------------------------------
# Blinds
# ---------------------------------------------------
blinds:
  - type: ER
    adr: "03"
    id: rf_waschkueche
    name: "RF Waschkueche"
    mediola: mediola1
    kind: raffstore

  - type: ER
    adr: "04"
    id: rollo_schlafzimmer
    name: "Rollo Schlafzimmer"
    mediola: mediola1
    kind: rollo

  - type: RT
    adr: a1b2c3
    id: terrasse_markise
    name: "Markise Terrasse"
    mediola: mediola1